<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yeoinsu.escape.party.dao.mapper.PartyComMapper">
	<select id="getCom" parameterType="int" resultType="partyCom">
		select party_com_no partyComNo, party_com_content partyComContent,
		party_no partyNo, user_id userId from party_Comments where party_no=#{partyNo}
	</select>
	
	<insert id="addCom" parameterType="partyCom">
		insert into party_comments values(party_com_no_seq.nextval,#{partyComContent},#{partyNo},#{userId})
	</insert>
</mapper>